<app-navbar></app-navbar>

<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Users</h5>
      <div>
        <div class="row">
          <div class="col-md-4 col-sm-6 margin-bottom col-xs-12" *ngFor="let user of users">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> <strong>Name : </strong> {{user.name?user.name:'Not Found'}}</h5>
                <h5 class="card-title"> <strong>Email : </strong> {{user.email}}</h5>
                <h5 class="card-title"> <strong>Phone : </strong> {{user.phone?user.phone:'Not Found'}}</h5>
                <div class="text-center">
                  <button class="btn  btn-danger" (click)="staticModal.show();this.deleted_id = user.id">Delete
                    User</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Delete User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this user ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="staticModal.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteUser();staticModal.hide()">Ok</button>
      </div>
    </div>
  </div>
</div>